Language: Cpp
BasedOnStyle: Google
Standard: c++20

AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: None
AlignConsecutiveBitFields: AcrossComments
AlignConsecutiveDeclarations: None
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: AlignAfterOperator
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: OnePerLine
BracedInitializerIndentWidth: -1
BraceWrapping:
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeConceptDeclarations: Always
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ColumnLimit: 120
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: false
IncludeCategories:
  # Local includes
  - Regex:    '^"'
    Priority: 1
  # Project includes
  - Regex:    '^<architecture/'
    Priority: 1
  # Dependency includes
  - Regex:    '^<.*\.h>'
    Priority: 2
  # Stdlib includes
  - Regex:    '^<.*>'
    Priority: 3
IndentCaseLabels: false
IndentExternBlock: Indent
IndentGotoLabels: false
IndentPPDirectives: BeforeHash
IndentRequiresClause: false
IndentWidth: 4
InsertBraces: true
InsertNewlineAtEOF: true
InsertTrailingCommas: Wrapped
IntegerLiteralSeparator:
  Binary: 4
  Decimal: 3
  Hex: 4
KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
QualifierAlignment: Custom
QualifierOrder: [static, inline, type, const, volatile]
ReferenceAlignment: Right
RemoveEmptyLinesInUnwrappedLines: true
RemoveSemicolon: true
SeparateDefinitionBlocks: Always
SortIncludes:
  Enabled: true
  IgnoreCase: true
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: false
SpacesInContainerLiterals: false
TabWidth: 4
WrapNamespaceBodyWithEmptyLines: Never
