# IDEs
.DS_Store
.vscode/
.idea
xml/*

#CMake
CMakeFiles/
**/_VizFiles/
CMakeCache.txt
CMakeUserPresets.json

#Python
.eggs/
.pytest_cache
*.swp
*.pyc
**/tests/report/
**/__pycache__/
venv/
.venv/

#LaTex
**/AutoTex/
**/AutoTeX/
*.aux
*.log
*.out
*.gz
*.toc
*.fdb_latexmk
*.fls

#Source
**/outputFiles/*

dist/
build/

docs/html
docs/build
docs/source/Documentation/*
docs/source/_images/Scenarios/*
docs/source/breathe.data
docs/source/externalTools/*
docs/source/examples/*

examples/MonteCarloExamples/scenario_AttFeedbackMC/

src/moduleTemplates/autoCppModule/*
src/utilities/MonteCarlo/__init__.py
src/utilities/vizProtobuffer/__init__.py
src/utilities/vizProtobuffer/*.pb.cc
src/utilities/vizProtobuffer/*.pb.h
src/utilities/vizProtobuffer/*.pb2.py
src/tests/scenarios/data

supportData/*/__init__.py
supportData/EphemerisData/de430.bsp
